.thermostat-widget {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .temperature {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .current-temperature {
    font-size: 72px;
    font-weight: bold;
  }
  
  .set-to-temperature {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    align-self: flex-end;
    color: black;
  }
  